@-moz-document domain("allo.google.com") {
div.themedIncomingBubble.bubble.style-scope.user-text-message {
    border-radius: 4px !important;
    color: #263238;
    background-color: #ffffff;
}
paper-item.suggestion.bubble.themedSmartReply.style-scope.suggestion-message {
    border-radius: 4px;
    background-color: #f5f7f8;
    border-color: #f5f7f8;
}

paper-item.suggestion.bubble.themedSmartReply.style-scope.suggestion-message:hover {
    background-color: #cfd8dc;
    border-color: #cfd8dc;
}

paper-item.suggestion.bubble.themedSmartReply.style-scope.suggestion-message:focus {
    background-color: #c0c8cb;
    border-color: #c0c8cb;
}

div.themedOutgoingBubble.bubble.style-scope.user-text-message {
    border-radius: 4px;
    background-color: #cfd8dc;
    color: #263238;
}
scrolling-messages-list.style-scope.messages-view {
    background-color: #eceff1;
}
p.style-scope.suggestion-message {
    color: #263238;
}
div.style-scope.compose-bar {
    border-radius: 4px !important;
}
div.style-scope.user-media-message {
    border-radius: 4px !important;
}

.conversationHeader.wireball-app {
    border-left: 1px rgb(38, 50, 56);
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0);
    background:  !important;
    color: #fafafa;
}

.themedDeliveryIconRead {
    fill: #afb1b2 !important;
    stroke: #afb1b2 !important;
}

.iron-icon.message-status {
    fill: #afb1b2 !important;
    stroke: #afb1b2 !important;  
    
}

.themedSendButton.active {
    color:  !important;
}

div.flex.style-scope.wireball-app {
    color: #fafafa !important;
}

/* new chat button */

#startChatButtonIcon.wireball-app {
    background: ;
}

#startChatButtonIcon.wireball-app:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
}
#contactSelectionContainer.wb-new-conversation-view {
    border-bottom: 2px solid ;
}

#startChatButton.wireball-app {
    background: #ffffff !important;
}

div.style-scope.app-header {
    border-right: 0px rgb(38, 50, 56);
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.2);
    background-color: ;
    padding-right: 2px !important;
}

#conversationsViewContainer .app-header {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMyAxOGgxOHYtMkgzdjJ6bTAtNWgxOHYtMkgzdjJ6bTAtN3YyaDE4VjZIM3oiLz48L3N2Zz4=) !important;
    background-repeat: no-repeat;
    background-position: 29px 22px; 
    padding-right: 10px !important;
    z-index: 1 !important;
}

#allo-logo.wireball-app {
    --iron-icon-fill-color: #fafafa;
    padding-left: 58px;
}

#arrowBack #icon {
    fill: #fafafa !important;  
}

.conversation_item.selected.conversations-view, .conversation_item.conversations-view:hover {
    background-color: #eeeeee !important;
}

div.flex.style-scope.wb-new-conversation-view {
    color: #fafafa;
}

relative-time.themedText.timestampBanner.style-scope.messages-view {
    color: #6c6e6f !important;
}

p.themedText.senderName.style-scope.user-message {
    color: #6c6e6f !important;
}

.themedDeliveryIconDelivered {
    fill: #afb1b2 !important;
    stroke: #afb1b2 !important;
}

.message-status {
    fill: #afb1b2 !important;
}


paper-tabs.wb-emoji-picker {
    --paper-tabs-selection-bar-color: ;
}

#menu.wb-emoji-picker paper-tab.wb-emoji-picker {
    color:  !important;
}

.emojiVisible.compose-bar #emojiAction.compose-bar, .stickerVisible.compose-bar #stickerAction.compose-bar, .emojiVisible.compose-bar #emojiAction.compose-bar:hover, .stickerVisible.compose-bar #stickerAction.compose-bar:hover, .emojiVisible.compose-bar #emojiAction.compose-bar:focus, .stickerVisible.compose-bar #stickerAction.compose-bar:focus {
    color:  !important;
}

#popout.wb-emoji-picker {
    color:  !important;
}

paper-tab.wb-sticker-picker {
    color:  !important;
}

paper-tab.wb-sticker-picker {
    color:  !important;
}

paper-tabs.wb-sticker-picker {
    --paper-tabs-selection-bar-color: ;
}

#popout.wb-sticker-picker, #store.wb-sticker-picker {
    color:  !important;
}

paper-tabs.style-scope.wb-emoji-picker {
    background-color: #f8f8f8 !important;
}

div.style-scope.wb-emoji-picker {
    background-color: #f8f8f8 !important;
}

paper-tabs.style-scope.wb-sticker-picker {
    background-color: #f8f8f8;
}

wb-sticker-picker.style-scope.compose-bar.iron-selected {
    background-color: #f8f8f8;
}

div.style-scope.wb-sticker-picker {
    background-color: #f8f8f8;
}


#sets.wb-sticker-set-list .actions.wb-sticker-set-list iron-icon.downloadAction.wb-sticker-set-list {
    background-color: ;
}

#chip.wb-bot-chip {
    border-radius: 4px;
} 


#conversationsViewContainer .wireball-app .wireball-app #avatar {
    background-color: none;
    background-image: none !important;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center; 
    box-shadow: none;
    margin-left: -319px;
}


#messageHeaderLayout .avatar-button #avatar {
    background-color: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgOGMxLjEgMCAyLS45IDItMnMtLjktMi0yLTItMiAuOS0yIDIgLjkgMiAyIDJ6bTAgMmMtMS4xIDAtMiAuOS0yIDJzLjkgMiAyIDIgMi0uOSAyLTItLjktMi0yLTJ6bTAgNmMtMS4xIDAtMiAuOS0yIDJzLjkgMiAyIDIgMi0uOSAyLTItLjktMi0yLTJ6Ii8+PC9zdmc+) !important;
    background-size: 26px;
    background-repeat: no-repeat;
}


.content.user-info-panel paper-toggle-button.user-info-panel {
    --paper-toggle-button-checked-bar-color:  !important;
    --paper-toggle-button-checked-button-color:  !important;
}

#messageHeaderLayout .avatar-button #avatar {
    background-color:  !important;
}

.avatar-button #icon {
    visibility: hidden;
}

div.header.style-scope.user-info-panel {
    height: 68px;
}

ul.style-scope.user-info-panel:after {
    content: 'Theme by Linked Designs';
}

p.themedTombstone.tombstone.style-scope.tombstone-message {
    font-size: 0 !important;
}

p.themedTombstone.tombstone.style-scope.tombstone-message:after {
    content: ' MD+ is incompatible with Allo themes!';
    font-size: 12px;
}

h3.style-scope.wb-lightbox {
    color: #fafafa !important;
}

relative-time.style-scope.wb-lightbox {
    color: #fafafa !important;
}

#lightbox #icon {
    color: #fafafa !important;
}

div.open.style-scope.messages-view {
    box-shadow: 1px 0 4px 1px rgba(0,0,0,.12);
}

paper-button.style-scope.wb-confirmation-dialog.keyboard-focus {
    color:  !important;
}

paper-button.style-scope.wb-confirmation-dialog {
    color:  !important;
}

paper-tab.wb-popout-sticker-picker {
    color:  !important;
}

paper-tabs.wb-popout-sticker-picker {
    --paper-tabs-selection-bar-color:  !important;
}

paper-tabs.wb-popout-picker {
    --paper-tabs-container_-_background:  !important;
}

#copyButton.wb-invite-dialog {
    background:   !important;
}

#cancelButton.wb-invite-dialog {
    color:  !important;
}

.ghp-header {
    background-color:  !important;
}

#sidebar h4:nth-child(1) {
    font-size: 0px !important;
}

#sidebar h4:nth-child(1):After {
    content: ' MD+ is incompatible with Allo themes!';
    font-size: 14px !important;
}

.storeActions .wb-sticker-set-list+ .wb-sticker-set-list .wb-sticker-set-list {
    fill:  !important;
}

#switchButton.swap-view {
    background-color:  !important;
}

#dialogFooter.swap-view {
    background-color:  !important;
}

#logout.swap-view {
    color: rgb(250,250,250);
}
}
